/*
    Written by Brian Bird 10/10/17, revised 10/17/22
*/

a:hover {
    font-size: larger;
}

ul {
    font-variant: small-caps;
    font-weight: bold;
    font-family: arial, sans-serif;
}

h1,
h2 {
    color: darkolivegreen;
    font-family: Arial, sans-serif;
}

.greenBold {
    font-weight: bold;
    color: green;
}

#topics {
    background-color: papayawhip;
}