/*
    Written by Brian Bird
    10/10/17, modified 10/17/17
*/

@font-face {
    font-family: Gentium;
    src: url(GenBasR.tff) format('truetype');
}

body {
    background-color: lightcyan;
}

h1,
h2 {
    color: darkolivegreen;
    font-family: Arial, sans-serif;
}

body>p {
    font-family: Gentium;
}

.greenBold {
    font-weight: bold;
    color: green;
}

#topics {
    background-color: papayawhip;
}

header a:hover {
    font-size: larger;
}