/*
    Unit 4 web site example
    Written by Brian Bird
    10/10/17, modified 10/17/17
*/

@font-face {
    font-family: Gentium;
    src: url(GenBasR.tff) format('truetype');
}

body {
    background-color: lightcyan;
    width: 700px;
}

h1,
h2 {
    color: darkolivegreen;
    font-family: Arial, sans-serif;
}

body>p {
    font-family: Gentium;
}

.greenBold {
    font-weight: bold;
    color: green;
}

header a:hover {
    font-size: larger;
}


/* uncomment to demonstrate the difference between in-line and block elements 
article span {
    display: block;
}
*/

header {
    background: url(SouthIndia.png) top right no-repeat;
    background-size: 100px;
    width: 80%;
    height: 150px;
}

nav.horizontal {
    width: 75%;
}

nav.horizontal p {
    float: left;
    margin: 5px;
    padding: 10px;
    background-color: beige;
}

nav.horizontal a {
    text-decoration: none;
}

#states h2 {
    clear: left;
}

#states img {
    float: left;
    padding-right: 40px;
}

#topicLinks {
    background-color: papayawhip;
}

#topics {
    clear: left;
}