/*
    Unit 3 Web site example
    Author: Brian Bird
     Date:   10/3/17, revised 10/10/17
*/

body {
    background-color: rgb(245, 210, 175);
    color: darkblue;
    font-family: Arial, Lucida Sans;
}

h2 {
    font-size: 14pt;
    /* absolute units can be pt, pc, or in */
    /* relative units are em */
    font-style: oblique;
    font-weight: bold;
}

@font-face {
    font-family: GentiumBold;
    src: url('GentiumB.ttf');
    font-weight: bold;
}

ul {
    font-family: GentiumBold;
}