/*
    Written by Brian Bird 6/20/17, revised 8/3/23
*/

/* The body is a fixed width, centered in the browser window.
    margin: auto is what centers it. */
body {
    width: 800px;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    background-color: rgb(241, 239, 184);
    margin: auto;
}

/***********************************/
/* Page layout with CSS grid areas */
/***********************************/

body {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "section1 section1 section1"
        "section2 section2 aside"
        "section3 section3 section3"
        "footer footer footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

/* first section */
section:first-of-type {
    grid-area: section1;
}

/* second section */
section:nth-of-type(2) {
    grid-area: section2;
}

/* third section */
section:nth-of-type(3) {
    grid-area: section3;
}

aside {
    grid-area: aside;
}   

footer {
    grid-area: footer;
}   

/***************************************/
/*   Structureal styles using flexbox  */
/***************************************/

/* style the nav menu using a horizontal flex box */
nav {
    display: flex;
    justify-content: space-between;
}

nav span:hover {
    font-size: larger;
}

nav a {
    padding: 10px;
    border: 2px;
    height: 20px;
    width: fit-content;
    margin-top: 10px;
    border-style: solid;
    background-color: beige;
    font-variant: small-caps;
    font-weight: bold;
    font-family: arial, sans-serif;
    text-decoration: none;
}

/* Style the header using a vertical flexbox */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 200px;
    width: 100%;
}

header hr {
    width: 100%;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0px;
}

header img {
    border-radius: 15px;
    height: 100px;
    margin: auto;
}

/* Style the sections using a vertical flexbox */
section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Style the aside using a vertical flexbox */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside div {
    border: solid;
}

/* Style the footer using a horizontal flexbox */
footer div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer span {
    width: fit-content;
}

figcaption {
    text-align: center;
}

/**************************/
/* Non-structureal styles */
/**************************/

h2 {
    font-size: 1.5em;
}

blockquote p {
    font-size: 0.8em;
}

#last {
    text-indent: 2em;
}