/*
    Written by Brian Bird 6/20/17, revised 8/3/23
*/

/* The body is a fixed width, centered in the browser window.
    margin: auto is what centers it. */
body {
    width: 750px;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    background-color: rgb(241, 239, 184);
    margin: auto;
}

/* Since the content of the ul is floating li elements, 
   it doesn't naturally have any height, so we're adding it. */
nav ul {
    list-style-type: none;
    height: 60px;
}

/* style the nav menu buttons */
nav {
    display: flex;
    justify-content: space-between;
}

nav span:hover {
    font-size: larger;
}

nav a {
    margin: 5px;
    padding: 10px;
    border: 2px;
    height: 20px;
    width: 200px;
    border-style: solid;
    background-color: beige;
    font-variant: small-caps;
    font-weight: bold;
    font-family: arial, sans-serif;
    text-decoration: none;
}

/* Use flexbox to arrange the header elements vertically */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 90%;
}

header hr {
    width: 100%;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
}

header img {
    border-radius: 15px;
    width: 20%;
    margin: auto;
}

/* text-indent applies to figures too */
figcaption {
    text-align: center;
}

/* Block styles */

h2 {
    font-size: 1.5em;
}

blockquote p {
    font-size: 0.8em;
}

footer {
    text-align: center;
}

#last {
    text-indent: 2em;
}